name = "bristol-emergency-plumber"
compatibility_date = "2024-10-01"
pages_build_output_dir = "."

[[d1_databases]]
binding = "DB"
database_name = "bristol-emergency-plumber"
database_id = "2e53d29a-4f65-4b1a-82e6-abfe4a00df88"
